In [1]:
import pandas as pd

In [2]:
df_reader = pd.read_json('Clothing_Shoes_and_Jewelry.json',lines = True,chunksize=1000000)

In [ ]:
counter = 1
for chunk in df_reader:
    new_df = pd.DataFrame(chunk[['overall','reviewText','summary']])
    
    new_df1 = new_df[new_df['overall'] == 5].sample(4000)
    new_df2 = new_df[new_df['overall'] == 4].sample(4000)
    new_df3 = new_df[new_df['overall'] == 3].sample(8000)
    new_df4 = new_df[new_df['overall'] == 2].sample(4000)
    new_df5 = new_df[new_df['overall'] == 1].sample(4000)
    
    new_df6 = pd.concat([new_df1,new_df2,new_df3,new_df4,new_df5], axis = 0, ignore_index = True)
    
    new_df6.to_csv(str(counter)+".csv", index = False)
    
    new_df = None
    counter = counter + 1

In [44]:
#data aggregation

import pandas as pd

from glob import glob

filenames = glob('*.csv')

#list comprehension
dataframes = [pd.read_csv(f) for f in filenames]

frame = pd.concat(dataframes, axis = 0, ignore_index = True)

frame.to_csv('balanced_reviews.csv', index =  False)

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('balanced_reviews.csv')

In [4]:
#EDA activities

In [5]:
df.shape

(792000, 3)

In [6]:
df.head()

,overall,reviewText,summary
0,5,"great shoes, i love them, they are really comf...",awesome product
1,5,The best shoe ever!,Five Stars
2,5,these are moccasins and in general moccasins d...,... general moccasins do not provide arch supp...
3,5,Look good and fit well. Seem durable so hoping...,Well made
4,5,"Comfortable, stylish, just what I was looking ...",Great sandal

In [7]:
df = df[['overall','reviewText','summary']]

In [8]:
df.head()

,overall,reviewText,summary
0,5,"great shoes, i love them, they are really comf...",awesome product
1,5,The best shoe ever!,Five Stars
2,5,these are moccasins and in general moccasins d...,... general moccasins do not provide arch supp...
3,5,Look good and fit well. Seem durable so hoping...,Well made
4,5,"Comfortable, stylish, just what I was looking ...",Great sandal

In [9]:
df.shape

(792000, 3)

In [10]:
df['overall'].value_counts()

3    264000
5    132000
4    132000
2    132000
1    132000
Name: overall, dtype: int64

In [11]:
df.isnull().any(axis=0)

overall       False
reviewText     True
summary        True
dtype: bool

In [12]:
df.isnull().any(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
791995    False
791996    False
791997    False
791998    False
791999    False
Length: 792000, dtype: bool

In [13]:
df[df.isnull().any(axis=1)]

,overall,reviewText,summary
337,5,NaN,Five Stars
813,5,NaN,Five Stars
1021,5,I love them! They are so cute!,NaN
1271,5,Wonderfulso beautiful shoes!,NaN
1492,5,NaN,Five Stars
...,...,...,...
780696,3,ok very small,NaN
782937,3,NaN,Three Stars
786741,2,NaN,Two Stars
788577,1,"Runs small, cheap material.",NaN
791356,1,Insta exact size just not what I expected the ...,NaN

In [14]:
df[df.isnull().any(axis=1)].head()

      overall                       reviewText     summary
337         5                              NaN  Five Stars
813         5                              NaN  Five Stars
1021        5  I love them! They are so cute!          NaN
1271        5     Wonderfulso beautiful shoes!         NaN
1492        5                              NaN  Five Stars

In [15]:
#handling the missing data

In [16]:
df.dropna()

,overall,reviewText,summary
0,5,"great shoes, i love them, they are really comf...",awesome product
1,5,The best shoe ever!,Five Stars
2,5,these are moccasins and in general moccasins d...,... general moccasins do not provide arch supp...
3,5,Look good and fit well. Seem durable so hoping...,Well made
4,5,"Comfortable, stylish, just what I was looking ...",Great sandal
...,...,...,...
791995,1,I brought a previous years model of a Komen mo...,Company Does not Back up Manufacturing Defects...
791996,1,I like others thought maybe some people were w...,Don't be fooled. You really only get 1 in the ...
791997,1,For cuteness these would get 5 stars. But they...,Way too narrow
791998,1,I understand you get what you pay for. I got e...,DO NOT BUY THIS RING. WASTE OF MONEY.
791999,1,Prior to trying this shoe I brought Dr Scholl ...,Did not stood up to it brand's reputation and ...

In [17]:
df[df.isnull().any(axis=1)]

,overall,reviewText,summary
337,5,NaN,Five Stars
813,5,NaN,Five Stars
1021,5,I love them! They are so cute!,NaN
1271,5,Wonderfulso beautiful shoes!,NaN
1492,5,NaN,Five Stars
...,...,...,...
780696,3,ok very small,NaN
782937,3,NaN,Three Stars
786741,2,NaN,Two Stars
788577,1,"Runs small, cheap material.",NaN
791356,1,Insta exact size just not what I expected the ...,NaN

In [18]:
df.dropna(inplace=True)

In [19]:
df[df.isnull().any(axis=1)].count()

overall       0
reviewText    0
summary       0
dtype: int64

In [20]:
df.isnull().any(axis=0)

overall       False
reviewText    False
summary       False
dtype: bool

In [21]:
df.shape

(791186, 3)

In [22]:
df['overall'].value_counts()

3    263844
2    131927
1    131859
4    131842
5    131714
Name: overall, dtype: int64

In [23]:
df = df[df['overall']!=3]

In [24]:
df['overall'].unique()

array([5, 4, 2, 1], dtype=int64)

In [25]:
df.head()

,overall,reviewText,summary
0,5,"great shoes, i love them, they are really comf...",awesome product
1,5,The best shoe ever!,Five Stars
2,5,these are moccasins and in general moccasins d...,... general moccasins do not provide arch supp...
3,5,Look good and fit well. Seem durable so hoping...,Well made
4,5,"Comfortable, stylish, just what I was looking ...",Great sandal

In [26]:
import numpy as np

In [27]:
df['positivity']=np.where(df['overall']>3,1,0)

In [28]:
df.head()

,overall,reviewText,summary,positivity
0,5,"great shoes, i love them, they are really comf...",awesome product,1
1,5,The best shoe ever!,Five Stars,1
2,5,these are moccasins and in general moccasins d...,... general moccasins do not provide arch supp...,1
3,5,Look good and fit well. Seem durable so hoping...,Well made,1
4,5,"Comfortable, stylish, just what I was looking ...",Great sandal,1

In [29]:
df['positivity'].value_counts()

0    263786
1    263556
Name: positivity, dtype: int64

In [30]:
df.shape

(527342, 4)

In [31]:
df.columns

Index(['overall', 'reviewText', 'summary', 'positivity'], dtype='object')

In [32]:
features = df['reviewText']
labels = df['positivity']

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
features_train, features_test, labels_train, labels_test = train_test_split(df['reviewText'],df['positivity'],random_state = 42)

In [35]:
labels_test

472612    0
407335    0
51030     1
743018    0
270130    1
         ..
308024    0
356815    0
287563    0
485336    1
66863     0
Name: positivity, Length: 131836, dtype: int32

In [36]:
features_train[:10]

333573    Just really wasn't what I was looking for it's...
17660     One earring's ball tip is clearly larger than ...
89255     Didn't come with good soles. Fell apart after ...
194800                                        Awesome watch
243604                  My podiatrist has recommended these
307201                   I can never get a bando to stay up
222846    I purchased this for my brother as an addition...
390690    Nice belly ring. The color faded a little quic...
72815                                     Perfect and warm!
20892     I wear size 11 in every brand of sneaker. This...
Name: reviewText, dtype: object

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
vect=CountVectorizer().fit(features_train)

In [39]:
len(vect.get_feature_names())

66756

In [40]:
vect.get_feature_names()[::2000]

['00',
 '34gs',
 'a1ls8iseyws',
 'and10',
 'b00ealln42',
 'blacklight',
 'c1j22pxqcus',
 'claddagh',
 'cooperative',
 'decorating',
 'dm',
 'enforce',
 'feasibly',
 'fulfil',
 'guilt',
 'huckberry',
 'irrepressible',
 'lakewood',
 'luster',
 'miscellaneous',
 'nighted',
 'outfitter',
 'pieces',
 'prone',
 'redirect',
 'rosses',
 'sex',
 'smfh',
 'stihl',
 'taps',
 'torward',
 'universe',
 'wana',
 'xc']

In [41]:
features_train_vectorized = vect.transform(features_train)

In [42]:
features_train_vectorized.toarray()

MemoryError: Unable to allocate 197. GiB for an array with shape (395506, 66756) and data type int64

In [55]:
#classifier model = KNN, LogisticRegression, SVM, NaiveBayes
#High dimension data

In [43]:
from sklearn.linear_model import LogisticRegression
# Lr works good for high dimensional sparse data

In [44]:
model = LogisticRegression()

In [45]:
model.fit(features_train_vectorized, labels_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [46]:
from sklearn.metrics import roc_auc_score

In [47]:
predictions = model.predict(vect.transform(features_test))

In [48]:
predictions

array([0, 0, 1, ..., 0, 1, 0])

In [49]:
roc_auc_score(labels_test, predictions)

0.8986008784288729

In [63]:
from sklearn.metrics import confusion_matrix

In [64]:
confusion_matrix(labels_test, predictions)

array([[59329,  6670],
       [ 6698, 59139]], dtype=int64)

In [65]:
#moving back to data cleaning activity
import nltk

In [66]:
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [67]:
from nltk.corpus import stopwords

In [68]:
from nltk.stem.porter import PorterStemmer

In [69]:
import re #regular expressions

In [70]:
df['reviewText'][0]

'great shoes, i love them, they are really comfortable and i would definitely recommend them to people who have problems with regular shoes and back pain.'

In [71]:
df.head(1)

,overall,reviewText,summary,positivity
0,5,"great shoes, i love them, they are really comf...",awesome product,1

In [72]:
df.reviewText.head(5)

0    great shoes, i love them, they are really comf...
1                                  The best shoe ever!
2    these are moccasins and in general moccasins d...
3    Look good and fit well. Seem durable so hoping...
4    Comfortable, stylish, just what I was looking ...
Name: reviewText, dtype: object

In [73]:
review = re.sub('[^a-zA-Z]',' ',df['reviewText'][0])

In [74]:
review

'great shoes  i love them  they are really comfortable and i would definitely recommend them to people who have problems with regular shoes and back pain '

In [75]:
review = review.lower()

In [76]:
review = review.split()

In [77]:
review

['great',
 'shoes',
 'i',
 'love',
 'them',
 'they',
 'are',
 'really',
 'comfortable',
 'and',
 'i',
 'would',
 'definitely',
 'recommend',
 'them',
 'to',
 'people',
 'who',
 'have',
 'problems',
 'with',
 'regular',
 'shoes',
 'and',
 'back',
 'pain']

In [78]:
review = [word for word in review if not word in set(stopwords.words('english'))]

In [79]:
review

['great',
 'shoes',
 'love',
 'really',
 'comfortable',
 'would',
 'definitely',
 'recommend',
 'people',
 'problems',
 'regular',
 'shoes',
 'back',
 'pain']

In [80]:
review.append('very')

In [81]:
review

['great',
 'shoes',
 'love',
 'really',
 'comfortable',
 'would',
 'definitely',
 'recommend',
 'people',
 'problems',
 'regular',
 'shoes',
 'back',
 'pain',
 'very']

In [82]:
review = [word for word in review if not word in set(stopwords.words('english'))]

In [83]:
review

['great',
 'shoes',
 'love',
 'really',
 'comfortable',
 'would',
 'definitely',
 'recommend',
 'people',
 'problems',
 'regular',
 'shoes',
 'back',
 'pain']

In [84]:
ps = PorterStemmer()

In [85]:
review = [ps.stem(word) for word in review]

In [86]:
review

['great',
 'shoe',
 'love',
 'realli',
 'comfort',
 'would',
 'definit',
 'recommend',
 'peopl',
 'problem',
 'regular',
 'shoe',
 'back',
 'pain']

In [87]:
review=" ".join(review)

In [88]:
review

'great shoe love realli comfort would definit recommend peopl problem regular shoe back pain'

In [90]:
df.shape

(527342, 4)

In [115]:
corpus = []

for i in range(0, 527342):
    review = re.sub('[^a-zA-Z]',' ', df.iloc[i,1])
    
    review = review.lower()
    
    review = review.split()
    
    review = [word for word in review if not word in set(stopwords.words('english'))]
    
    
    ps = PorterStemmer()
    
    review = [ps.stem(word) for word in review ]
    
    review = " ".join(review)
    
    corpus.append(review)

In [116]:
from sklearn.feature_extraction.text import CountVectorizer

In [119]:
features = CountVectorizer().fit_transform(corpus)

In [120]:
labels = df.iloc[:, 3] 

#teain test spplit
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, random_state = 42)

In [121]:
#model
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(features_train, labels_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [123]:
#score
from sklearn.metrics import roc_auc_score

predictions = model.predict(features_test)

roc_auc_score(labels_test, predictions)

0.8764426374535461

In [38]:
#version 03
#TF_IDF (term frequency-inverse document frequency)


from sklearn.model_selection import train_test_split

features_train, features_test, labels_train, labels_test = train_test_split(df['reviewText'], df['positivity'], random_state = 42)

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer


vect = TfidfVectorizer(min_df = 5).fit(features_train)
vect.vocabulary_
features_train_vectorized = vect.transform(features_train)

In [40]:
vect.vocabulary_

{'just': 9418,
 'really': 13554,
 'wasn': 18706,
 'what': 18886,
 'was': 18695,
 'looking': 10143,
 'for': 7153,
 'it': 9192,
 'an': 1395,
 'iron': 9150,
 'on': 11694,
 'stencil': 16194,
 'one': 11698,
 'earring': 5889,
 'ball': 1973,
 'tip': 17345,
 'is': 9174,
 'clearly': 3668,
 'larger': 9709,
 'than': 17082,
 'the': 17096,
 'other': 11849,
 'appears': 1534,
 'measures': 10594,
 'mm': 10927,
 'and': 1408,
 '25': 345,
 'am': 1345,
 'disappointed': 5338,
 'in': 8769,
 'won': 19085,
 'be': 2113,
 'ordering': 11784,
 'again': 1165,
 'future': 7397,
 'didn': 5231,
 'come': 3883,
 'with': 19048,
 'good': 7697,
 'soles': 15734,
 'fell': 6762,
 'apart': 1504,
 'after': 1156,
 'few': 6786,
 'months': 11011,
 'of': 11626,
 'use': 18269,
 'awesome': 1876,
 'watch': 18718,
 'my': 11176,
 'podiatrist': 12706,
 'has': 8117,
 'recommended': 13633,
 'these': 17129,
 'can': 3101,
 'never': 11340,
 'get': 7547,
 'to': 17380,
 'stay': 16165,
 'up': 18207,
 'purchased': 13266,
 'this': 17179,
 'brother': 2820,
 'as': 1670,
 'additional': 1041,
 'christmas': 3555,
 'present': 12959,
 'kind': 9520,
 'hard': 8091,
 'find': 6849,
 'zippered': 19355,
 'wallet': 18631,
 'that': 17092,
 'holds': 8400,
 'multiple': 11134,
 'cards': 3164,
 'still': 16238,
 'have': 8141,
 'not': 11471,
 'received': 13588,
 'yet': 19294,
 'but': 2992,
 'so': 15680,
 'much': 11109,
 'searching': 14791,
 'finally': 6847,
 'think': 17161,
 'found': 7220,
 'best': 2275,
 'choice': 3528,
 'thanks': 17088,
 'seller': 14861,
 'amazon': 1358,
 'nice': 11363,
 'belly': 2236,
 'ring': 14217,
 'color': 3850,
 'faded': 6608,
 'little': 10051,
 'quickly': 13362,
 'looked': 10140,
 'would': 19162,
 'buy': 3015,
 'another': 1457,
 'because': 2167,
 'looks': 10145,
 'perfect': 12350,
 'warm': 18664,
 'wear': 18777,
 'size': 15335,
 '11': 47,
 'every': 6353,
 'brand': 2709,
 'sneaker': 15633,
 '1st': 270,
 'time': 17312,
 'buying': 3020,
 'saucony': 14599,
 'wanted': 18650,
 'pair': 12051,
 'orange': 11771,
 'sneakers': 15634,
 'got': 7726,
 'very': 18432,
 'excited': 6416,
 've': 18366,
 'returned': 14114,
 'item': 9205,
 'return': 14112,
 'look': 10139,
 'options': 11768,
 'difficult': 5256,
 'finding': 6850,
 'bright': 2776,
 'at': 1742,
 'such': 16518,
 'decent': 4900,
 'price': 12998,
 'however': 8518,
 'now': 11511,
 'know': 9595,
 'why': 18948,
 'reduced': 13682,
 'dull': 5810,
 'greenish': 7845,
 'blue': 2482,
 'nothing': 11485,
 'like': 9962,
 'picture': 12490,
 'or': 11770,
 'doll': 5575,
 'she': 15032,
 'hair': 8001,
 'even': 6340,
 'close': 3721,
 'rest': 14046,
 'outfit': 11873,
 'fine': 6853,
 'returning': 14115,
 'comes': 3886,
 'smaller': 15541,
 'requested': 13956,
 'strap': 16324,
 'broke': 2807,
 'wearing': 18785,
 'two': 17846,
 'days': 4851,
 'boots': 2590,
 'are': 1596,
 'comfortable': 3897,
 'ive': 9218,
 'only': 11707,
 'had': 7985,
 'them': 17104,
 'lose': 10177,
 'shoestring': 15129,
 'hooks': 8448,
 'they': 17133,
 'appear': 1528,
 'poor': 12786,
 'quality': 13331,
 'pleasantly': 12655,
 'surprised': 16657,
 'speed': 15902,
 'delivery': 5031,
 'its': 9213,
 'pretty': 12987,
 'love': 10204,
 'design': 5114,
 'fits': 6913,
 'glove': 7647,
 'almost': 1306,
 'curve': 4693,
 'finger': 6858,
 'silver': 15272,
 'accents': 913,
 'around': 1634,
 'sorta': 15798,
 'thought': 17197,
 'tiny': 17344,
 'you': 19309,
 'definately': 4975,
 'see': 14825,
 'amber': 1361,
 'impressive': 8753,
 'using': 18281,
 'chart': 3404,
 'ordered': 11782,
 'normally': 11455,
 'runs': 14432,
 'small': 15540,
 'both': 2615,
 'sizes': 15344,
 'bc': 2105,
 'were': 18868,
 'too': 17433,
 'super': 16594,
 'bummed': 2920,
 'dress': 5722,
 'great': 7832,
 'fit': 6906,
 'sturdy': 16459,
 'fabric': 6574,
 'ever': 6349,
 'pants': 12094,
 'tighter': 17291,
 'ua': 17859,
 'length': 9860,
 'also': 1319,
 'short': 15148,
 '34': 458,
 'jeans': 9282,
 'feel': 6755,
 'though': 17196,
 'floods': 7040,
 'when': 18901,
 'aweful': 1875,
 'bow': 2652,
 'differs': 5255,
 'type': 17851,
 'texture': 17068,
 'stitching': 16255,
 'visible': 18508,
 'month': 11009,
 'old': 11674,
 'who': 18932,
 'walking': 18624,
 'beginning': 2205,
 'run': 14427,
 'flexible': 7007,
 'grip': 7865,
 'bottom': 2625,
 'make': 10367,
 'easier': 5897,
 'track': 17542,
 'his': 8365,
 'movements': 11089,
 'throughout': 17230,
 'house': 8505,
 'which': 18910,
 'helpful': 8252,
 'trying': 17741,
 'multi': 11129,
 'task': 16911,
 'reason': 13565,
 'give': 7597,
 'stars': 16137,
 'bit': 2367,
 'narrow': 11214,
 'through': 17228,
 'toe': 17391,
 'box': 2662,
 'beautiful': 2156,
 'if': 8654,
 'no': 11417,
 'bust': 2983,
 'top': 17451,
 'way': 18751,
 'tight': 17286,
 'junk': 9412,
 'boot': 2582,
 'working': 19128,
 'will': 18987,
 'hold': 8396,
 'indication': 8855,
 'site': 15319,
 'all': 1274,
 'cute': 4724,
 'shoes': 15128,
 'girl': 7586,
 'year': 19280,
 'daughter': 4836,
 'loves': 10211,
 'bought': 2632,
 'law': 9761,
 'expecting': 6476,
 'heard': 8192,
 'people': 12329,
 'where': 18903,
 'baby': 1898,
 'her': 8270,
 'music': 11158,
 'shoe': 15118,
 'construction': 4179,
 'seems': 14835,
 'solid': 15735,
 'ballet': 1977,
 'pink': 12541,
 'street': 16348,
 'long': 10131,
 'toes': 17398,
 'don': 5587,
 'quite': 13379,
 'reach': 13515,
 'end': 6137,
 'width': 18965,
 'actually': 1015,
 'wide': 18956,
 'feet': 6760,
 'suit': 16553,
 'slim': 15473,
 'grandson': 7796,
 'did': 5230,
 'stop': 16277,
 'leaks': 9792,
 'mention': 10664,
 'horrible': 8472,
 'sound': 15806,
 'makes': 10370,
 'whenever': 18902,
 'moved': 11087,
 'he': 8161,
 'enjoy': 6180,
 'either': 5993,
 'happy': 8088,
 'been': 2185,
 'brooks': 2816,
 'beast': 2140,
 'many': 10431,
 'years': 19282,
 'layers': 9770,
 'winter': 19020,
 'keeps': 9466,
 'legs': 9847,
 'without': 19054,
 'having': 8147,
 'bunch': 2931,
 'bulked': 2906,
 'your': 19316,
 'waist': 18598,
 'baggy': 1949,
 'described': 5101,
 'real': 13541,
 'work': 19119,
 'hairdryer': 8005,
 'heat': 8201,
 'then': 17109,
 'stick': 16218,
 'side': 15232,
 'pad': 12027,
 'used': 18271,
 'non': 11431,
 'slip': 15489,
 'pads': 12032,
 'adhere': 1051,
 'heating': 8206,
 'necessary': 11270,
 'product': 13067,
 'reasonable': 13566,
 'black': 2380,
 'charcoal': 3388,
 'paid': 12036,
 'pumps': 13246,
 'probably': 13045,
 'need': 11284,
 'arrived': 1645,
 'fast': 6686,
 'going': 7682,
 'waiting': 18609,
 'job': 9336,
 'perfectly': 12355,
 're': 13514,
 'light': 9945,
 'weight': 18832,
 'mission': 10890,
 'accomplished': 947,
 'ie': 8653,
 'back': 1904,
 'abd': 862,
 'forth': 7201,
 'pool': 12779,
 'seem': 14830,
 'same': 14527,
 'complaint': 3992,
 'leather': 9807,
 'gold': 7683,
 'ended': 6138,
 'receiving': 13591,
 'patent': 12189,
 'hardware': 8100,
 'guessing': 7933,
 'id': 8631,
 'thing': 17156,
 'terribly': 17039,
 'uncomfortable': 17936,
 'throw': 17232,
 'away': 1872,
 'inner': 8947,
 'seams': 14785,
 'area': 1597,
 'rough': 14364,
 'scratchy': 14722,
 'im': 8688,
 'petite': 12425,
 'anyway': 1494,
 'medium': 10621,
 'better': 2281,
 'rings': 14220,
 'sticking': 16222,
 'out': 11863,
 'from': 7315,
 'hardly': 8096,
 'fingers': 6864,
 'stylish': 16465,
 'material': 10533,
 'thin': 17153,
 'compared': 3960,
 'table': 16810,
 'ran': 13453,
 'green': 7843,
 'lenses': 9871,
 'huge': 8540,
 'tried': 17670,
 'order': 11780,
 'big': 2310,
 'initially': 8929,
 'initial': 8928,
 'felt': 6767,
 'snug': 15668,
 'mind': 10796,
 'since': 15293,
 'loosened': 10165,
 'amount': 1381,
 'hindsight': 8348,
 'wouldn': 19164,
 'go': 7664,
 'down': 5638,
 'half': 8014,
 'heads': 8179,
 'does': 5563,
 'expand': 6460,
 'said': 14493,
 'reviews': 14139,
 'squeaked': 16043,
 'first': 6892,
 'went': 18866,
 'me': 10577,
 'breaking': 2733,
 'shirt': 15106,
 'friend': 7299,
 'gave': 7491,
 'flip': 7023,
 'flops': 7049,
 'attractive': 1795,
 'true': 17722,
 'comfy': 3908,
 'put': 13299,
 'noticed': 11491,
 'piece': 12497,
 'goes': 7677,
 'between': 2284,
 'kinda': 9521,
 'rubs': 14399,
 'isn': 9180,
 'mid': 10748,
 'february': 6745,
 'cold': 3819,
 'here': 8271,
 'northeast': 11459,
 'ohio': 11659,
 'our': 11860,
 'vacation': 18308,
 'hoping': 8462,
 'bother': 2616,
 'do': 5543,
 'start': 16138,
 'chose': 3547,
 'reef': 13692,
 'read': 13526,
 'about': 872,
 'how': 8516,
 'll': 10066,
 'keep': 9462,
 'crossed': 4579,
 'dry': 5779,
 'well': 18854,
 'already': 1316,
 'knew': 9570,
 'expect': 6469,
 'luv': 10282,
 'something': 15758,
 'dates': 4833,
 'off': 11628,
 'regular': 13759,
 'set': 14933,
 'correct': 4323,
 'each': 5865,
 'bigger': 2314,
 'favorite': 6718,
 'travel': 17612,
 'bag': 1938,
 'right': 14201,
 'anticipated': 1471,
 'kept': 9475,
 'gift': 7564,
 'granddaughter': 7785,
 'came': 3079,
 'fat': 6696,
 'hole': 8401,
 'mesh': 10694,
 'band': 1996,
 'tendency': 17009,
 'fray': 7256,
 'say': 14617,
 'metal': 10707,
 'ruined': 14417,
 'countless': 4395,
 'pieces': 12499,
 'clothing': 3736,
 'catch': 3248,
 'everything': 6358,
 'matter': 10549,
 'times': 17322,
 'push': 13291,
 'takes': 16849,
 'funk': 7373,
 'presume': 12979,
 'moisture': 10966,
 'under': 17948,
 'handwashing': 8060,
 'etc': 6315,
 'dipped': 5306,
 'soapy': 15688,
 'water': 18727,
 'bleach': 2407,
 'peroxide': 12392,
 'alcohol': 1252,
 'boiling': 2535,
 'try': 17739,
 'smell': 15562,
 'stopped': 16279,
 'stand': 16107,
 'banded': 2005,
 'tanks': 16878,
 'soon': 15773,
 'nursed': 11539,
 'once': 11696,
 'completely': 4001,
 'stretched': 16360,
 'gaped': 7438,
 'new': 11343,
 'balance': 1964,
 'issue': 9187,
 'running': 14431,
 'could': 4377,
 'foot': 7136,
 'inside': 8981,
 'protects': 13166,
 'beach': 2115,
 'casio': 3234,
 'watches': 18723,
 '40': 551,
 'mostly': 11051,
 'film': 6836,
 'business': 2980,
 'digital': 5265,
 'readout': 13537,
 'particular': 12144,
 'turns': 17798,
 'wrong': 19213,
 'unlike': 18079,
 'worn': 19143,
 'alarm': 1244,
 'others': 11850,
 'five': 6919,
 'wash': 18696,
 'yard': 19273,
 'filthy': 6843,
 'afterwards': 1163,
 'threw': 17216,
 'shout': 15177,
 'advertised': 1103,
 'cannot': 3118,
 'unbuckle': 17920,
 'belt': 2245,
 'stuck': 16423,
 'bathroom': 2084,
 'terrible': 17038,
 'buckle': 2858,
 'expected': 6475,
 'wish': 19039,
 'loved': 10205,
 'needs': 11292,
 'asap': 1671,
 'we': 18766,
 'levi': 9905,
 '505': 630,
 'significantly': 15256,
 'straight': 16302,
 'last': 9720,
 'fall': 6636,
 'husband': 8589,
 'tall': 16860,
 '36': 486,
 'inseam': 8969,
 'delighted': 5022,
 'required': 13960,
 '70': 744,
 '00': 0,
 'alteration': 1322,
 'take': 16847,
 'measurements': 10593,
 'fade': 6607,
 'print': 13021,
 'noticeable': 11489,
 'sent': 14887,
 'customer': 4715,
 'service': 14924,
 'fantastic': 6659,
 'veil': 18373,
 'more': 11029,
 'expensive': 6485,
 'beads': 2122,
 'falling': 6638,
 'always': 1343,
 'reglue': 13750,
 'ones': 11699,
 'fakes': 6634,
 'knock': 9583,
 'offs': 11646,
 'made': 10315,
 'women': 19083,
 '10': 13,
 'kids': 9506,
 'wore': 19118,
 'air': 1216,
 'flat': 6969,
 'help': 8249,
 'shin': 15081,
 'splints': 15961,
 'high': 8308,
 'hopes': 8461,
 'there': 17116,
 'skip': 15394,
 'fad': 6606,
 'backpack': 1915,
 'except': 6401,
 'fact': 6598,
 'zipper': 19354,
 'started': 16139,
 'caught': 3266,
 'definitely': 4985,
 'lasted': 9721,
 'needed': 11286,
 'brown': 2824,
 'wig': 18972,
 'harry': 8111,
 'potter': 12861,
 'soft': 15705,
 'touch': 17499,
 'piled': 12517,
 'head': 8162,
 'showing': 15194,
 'large': 9707,
 'face': 6580,
 'easily': 5899,
 'pure': 13273,
 'clean': 3655,
 'white': 18927,
 'entire': 6211,
 'works': 19135,
 'serves': 14923,
 'fashion': 6680,
 'accessories': 929,
 'glad': 7604,
 'considering': 4152,
 'gifts': 7568,
 '2012': 293,
 'someones': 15756,
 'care': 3165,
 'insulated': 9030,
 'drink': 5741,
 'packet': 12021,
 'helps': 8254,
 'cool': 4271,
 'appeared': 1531,
 'making': 10373,
 'sail': 14494,
 'purchase': 13265,
 'sock': 15696,
 'recommend': 13629,
 'purchasing': 13270,
 '18': 215,
 '20': 276,
 '2x': 392,
 'hassle': 8123,
 'date': 4831,
 'getting': 7552,
 'pushed': 13292,
 'ask': 1687,
 'twice': 17828,
 'refund': 13724,
 'called': 3062,
 'pay': 12227,
 'compliments': 4017,
 'day': 4847,
 'due': 5803,
 'experience': 6486,
 'while': 18913,
 'mentioned': 10665,
 'description': 5105,
 'usa': 18261,
 'satisfied': 14590,
 'ya': 19263,
 'hands': 8056,
 'min': 10795,
 'putting': 13304,
 'blood': 2462,
 'flow': 7060,
 'being': 2215,
 'cut': 4723,
 'opening': 11733,
 'own': 11987,
 'their': 17102,
 'dressy': 5731,
 'any': 1483,
 'seasons': 14797,
 'some': 15751,
 'chance': 3367,
 'anywhere': 1497,
 'airport': 1226,
 'trip': 17687,
 'rome': 14315,
 'paris': 12127,
 'enough': 6190,
 'cushy': 4708,
 'walked': 18620,
 'streets': 16349,
 'hours': 8504,
 'feeling': 6756,
 'pain': 12038,
 'usual': 18285,
 'tear': 16949,
 'trainers': 17571,
 'lace': 9639,
 'easy': 5905,
 'sometimes': 15761,
 'laces': 9642,
 'highly': 8317,
 'suggest': 16547,
 'avg': 1850,
 'height': 8235,
 '5ft': 681,
 'nicely': 11364,
 'nephew': 11317,
 'asked': 1688,
 'gildan': 7573,
 'sweatshirts': 16728,
 'ash': 1675,
 'xls': 19240,
 'navy': 11249,
 'understand': 17975,
 'xl': 19236,
 'sleeves': 15451,
 'over': 11916,
 'fingertips': 6866,
 'mini': 10804,
 'puzzling': 13308,
 'flattering': 6978,
 'falls': 6640,
 'below': 2244,
 'knees': 9569,
 'alone': 1308,
 'leggings': 9835,
 'features': 6740,
 'indiglo': 8861,
 'upset': 18233,
 'couple': 4402,
 'minutes': 10837,
 'before': 2195,
 'pinching': 12536,
 'skin': 15385,
 'arms': 1629,
 'positioning': 12831,
 'luck': 10235,
 'excruciatingly': 6427,
 'wonderful': 19088,
 'returns': 14116,
 'zippers': 19356,
 'wrist': 19201,
 'general': 7514,
 'problem': 13047,
 'damaged': 4769,
 'insoles': 8992,
 'seperately': 14902,
 'attached': 1764,
 'usable': 18263,
 'several': 14950,
 'three': 17214,
 'different': 5250,
 'computers': 4042,
 'exchange': 6412,
 'select': 14852,
 'replace': 13917,
 'items': 9206,
 'absolutly': 886,
 'happens': 8083,
 'purchases': 13269,
 'faithful': 6628,
 'issues': 9189,
 'tiresome': 17353,
 'hated': 8130,
 'stupid': 16452,
 'plus': 12688,
 'thick': 17140,
 'itchy': 9202,
 'overall': 11918,
 'keeping': 9465,
 'bills': 2337,
 'spot': 15995,
 'fun': 7358,
 'party': 12156,
 'grandmothers': 7793,
 'everyone': 6356,
 'support': 16623,
 'arch': 1588,
 'pleased': 12657,
 'comfort': 3894,
 'stretch': 16358,
 'ok': 11666,
 'guess': 7931,
 'should': 15169,
 'known': 9600,
 'bra': 2680,
 'cost': 4355,
 'truly': 17725,
 'bounce': 2638,
 'shock': 15111,
 'active': 1004,
 'believe': 2221,
 'ride': 14185,
 'horses': 8482,
 'unfortunetly': 18033,
 'constant': 4167,
 'search': 14788,
 'affordable': 1145,
 'offered': 11634,
 'virtually': 18500,
 'girls': 7591,
 'place': 12594,
 'casual': 3241,
 'things': 17158,
 'oh': 11655,
 'share': 15009,
 'cents': 3319,
 'workmanship': 19131,
 'usually': 18286,
 '160lbs': 184,
 'delivered': 5027,
 'toronto': 17471,
 'standard': 16109,
 'opened': 11731,
 'impressed': 8749,
 'main': 10353,
 'outer': 11871,
 'wool': 19106,
 'gives': 7601,
 'slightly': 15471,
 'formal': 7188,
 'coat': 3783,
 'far': 6662,
 'weather': 18789,
 'period': 12374,
 'horrific': 8475,
 'master': 10521,
 'lied': 9926,
 'ignored': 8660,
 'request': 13955,
 'cancel': 3106,
 'catching': 3252,
 'lies': 9927,
 'told': 17410,
 'iraq': 9141,
 'tour': 17511,
 'duty': 5849,
 'continue': 4211,
 'tell': 16989,
 'mr': 11100,
 'took': 17434,
 'weeks': 18826,
 '17': 198,
 'emails': 6065,
 'transaction': 17577,
 'company': 3953,
 'buyer': 3017,
 'beware': 2289,
 'soldiers': 15730,
 'question': 13352,
 'mother': 11055,
 'pearl': 12257,
 'womans': 19082,
 'nbsp': 11254,
 'data': 4830,
 'hook': 8444,
 'link': 10008,
 'linked': 10009,
 'class': 3638,
 'normal': 11454,
 'href': 8525,
 'bulova': 2917,
 'ladies': 9658,
 'diamonds': 5217,
 'dial': 5211,
 'diamond': 5216,
 'markers': 10465,
 'bezel': 2291,
 'dp': 5666,
 'ref': 13698,
 'cm_cr_arp_d_rvw_txt': 3770,
 'utf8': 18291,
 'waste': 18710,
 'money': 10990,
 'okey': 11669,
 'glue': 7653,
 'chain': 3342,
 'hope': 8454,
 'selling': 14863,
 'fooling': 7132,
 '12': 76,
 'minecraft': 10801,
 'tired': 17351,
 'tshirts': 17746,
 'everywhere': 6360,
 'refreshing': 13722,
 'kid': 9500,
 'washes': 18702,
 'neck': 11274,
 'chest': 3471,
 'worst': 19152,
 'part': 12135,
 'mask': 10506,
 'crushed': 4621,
 'restored': 14057,
 'shape': 14998,
 'season': 14794,
 'lovely': 10208,
 'reorder': 13888,
 'longer': 10132,
 'mediums': 10622,
 'given': 7599,
 'earned': 5883,
 'must': 11163,
 'wrangler': 19176,
 'outside': 11898,
 'key': 9480,
 'open': 11730,
 'magnetic': 10331,
 'pocket': 12700,
 'closed': 3722,
 'original': 11814,
 'lug': 10242,
 'able': 868,
 'someone': 15755,
 'closet': 3728,
 'sure': 16638,
 'annoying': 1450,
 'closing': 3729,
 'roomy': 14333,
 'maybe': 10567,
 'internet': 9082,
 'purse': 13286,
 'useful': 18272,
 'worth': 19153,
 'niece': 11375,
 'butt': 2996,
 'tarnished': 16905,
 'thrown': 17236,
 'xs': 19245,
 'secondly': 14808,
 'rather': 13486,
 'grey': 7851,
 'instead': 9014,
 'badly': 1932,
 'addition': 1040,
 'originally': 11816,
 'scheduled': 14667,
 'loving': 10213,
 'accent': 911,
 'matched': 10526,
 'handbag': 8036,
 ...}

In [41]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(features_train_vectorized, labels_train)

from sklearn.metrics import roc_auc_score

predictions = model.predict(vect.transform(features_test))

roc_auc_score(labels_test, predictions)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.9018608411941617

In [42]:
#use pickle to save the model
#these steps would take place on my machine
import pickle

In [3]:
pkl_filename="pickle_model.pkl"

In [131]:
with open(pkl_filename, 'wb') as file:
    pickle.dump(model, file)

In [132]:
#joblib is better than pickle for big data
import joblib

In [133]:
with open("joblib_model.pkl",'wb') as file:
    joblib.dump(model,file)

In [134]:
with open("joblib_model.pkl",'rb') as file:
    joblib_model = joblib.load(file)

In [135]:
with open("pickle_model.pkl",'rb') as file:
    pickel_model=pickle.load(file)

In [136]:
#pre trained
#textblob
#vender

In [138]:
from textblob import TextBlob

In [139]:
text_blob_object = TextBlob(df['reviewText'][350])
text_blob_object.sentiment

Sentiment(polarity=0.5027777777777778, subjectivity=0.6305555555555556)

In [40]:
with open("pickle_model.pkl",'rb') as file:
    pickel_model=pickle.load(file)
    pickel_model.predict(vect.transform(features_test))

In [38]:
with open("pickle_model.pkl",'rb') as file:
    pickel_model=pickle.load(file)

In [39]:
import numpy as np

In [41]:
pickel_model.predict(vect.transform(['good one']))

array([1])

In [43]:
with open("feature.pkl", 'wb') as file:
    pickle.dump(vect.vocabulary_, file)